
<br>
<div class="row per">
  <div class="large-4 large.centred columns"><h5 class="perfil">Perfil</h5></div>
</div>
<div class="row perf">
  <br>
  <div class="large-7 large-offset-5 small-8 small-offset-4 columns columns"><%= image_tag current_user.avatar,class:"avatar"%></div>
  <br>
</div>
<div class="row perf">
  <div class="large-7 large-offset-5 small-8 small-offset-4 columns columns"><strong class="perfil" style="text-transform: uppercase;"><%= current_user.name%> </strong></div>
</div>
<div class="row perf">
  <div class="large-7 large-offset-5 small-8 small-offset-4 columns columns"><strong class="perfil"><%= current_user.rol%> </strong></div>
</div>
<br>
<div class="row">
  <div class="large-4 large-offset-2 small-9 small-offset-3 columns"><%=link_to "Editar perfil", edit_user_registration_path,class:'button'%></div>
  <div class="large-4 large-offset-2 small-9 small-offset-3 columns"><%= link_to "Cerrar sesíon", destroy_user_session_path, method: :delete,class:'button'%></div>
</div>

<%if current_user.rol=="administrador"%>
<%= link_to 'Administrar sitio', rails_admin_path %>
<%end%>




