
<div class="row">
  <br>
  <div class="large-7 large-offset-5 small-8 small-offset-4 columns columns"><h2>Entrar</h2></div>
  <br>
</div>



<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="row color ">
  <div class="large-4 large-offset-4 columns">
    <div class="field">
      <%= f.label :email,class:'perfil' %> 
    </div>
  </div>
</div>
<div class="row per">
  <div class="large-4 large-offset-4 columns">
    <div class="field">
      <br>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
</div>
<div class="row color">
  <div class="large-4 large-offset-4 columns columns">
    <div class="field">
      <%= f.label :password,class:'perfil' %>
    </div>
  </div>
</div>
<div class="row per ">
  <div class="field">
    <div class="large-4 large-offset-4 columns"><br>
      <%= f.password_field :password, autocomplete: "off" %>

    </div>
  </div>
</div>
<div class="row per">
  <div class="large-4 large-offset-4 columns">
    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
    <% end -%>
    <div class="actions">
      <%= f.submit "Entrar" %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>