<h2>Musica</h2>
<% if @mensaje %>
<!-- Mensaje enviado de la anterior página-->
<div>
  <strong> <%= @mensaje %> </strong>
</div>
<% end %>
<% if current_user.rol=="contribuidor" %>
<!-- Enlace a la página de subir archivos -->
<p> <%= link_to "Subir archivo", :controller => "archivos", :action => "subir_archivos" %> </p>
<%end%>
<!-- Lista de archivos subidos -->
<ul>
  <% @archivos.each do |a| %>
  <% if a == "." or a == ".." then next end; %>
  <li>
    <strong> <%= a %> </strong>  
    <% if current_user.rol=="suscriptor" %>
    <a target="_blank" href="/archivos/<%= a %>"> Ver archivo </a> 
  </li>
  <% elsif current_user.rol=="contribuidor" %>
  <a target="_blank" href="/archivos/<%= a %>"> Ver archivo </a> 
  <%= link_to "Borrar archivo", {:controller => "archivos", :action => "borrar_archivos", :archivo_a_borrar => a}, {:method => "post", :confirm => "Seguro?"} %>
  </li>
<% end %>
<% end %>
</ul>
<!-- Acá se guarda el nombre del archivo antes de que el formularo sea enviado-->
<hr />
