

<br>
<div class="row">
  <div class="large-6 large-offset-4 columns"><h2 st>Compartir musica </h2></div>
</div>
<br>
<%= form_tag({:controller => "archivos", :action => "subir_archivos"}, :method => "post", :multipart => true) do %>
<%= file_field_tag "archivo", :required => "required" %>
<%= submit_tag "Subir archivo"%>  
<% end %>
<% if @formato_erroneo %>
<p> El formato ingresado es incorrecto solo puedes subir musica C:</p>
<% end %>
<p> <%= link_to "Volver a la lista de archivos", :controller => "archivos", :action => "listar_archivos" %> </p>










